@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');


body {
  margin: 0;
  font-family: 'Sigmar', sans-serif;
  /* background: linear-gradient(to bottom, #1e3a8a, #1e40af); */
}

.bubble {
  border-radius: 50%;
  background: rgba(173, 216, 230, 0.6);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
  transition: transform 0.2s;
}

.bubble:hover {
  transform: scale(1.2);
}
